/* Responsive for screens smaller than 1024px */
@media (max-width: 1024px) {
    .card {
        width: 80%;
        max-width: none;
        height: auto;
    }
    
    .card-detail {
        width: 100%;
        float: none;
        padding: 20px;
        text-align: center; /* Thêm thuộc tính này để căn giữa văn bản */
    }

    .card-image {
        width: 100%;
        float: none;
    }

    .card-image img {
        width: 100%;
    }
}

/* Responsive for screens smaller than 768px (Tablets & smaller devices) */
@media (max-width: 768px) {
    .card {
        padding: 10px;
    }

    .card-detail {
        font-size: 18px;
        text-align: center; /* Đảm bảo căn giữa văn bản trên màn hình nhỏ hơn */
    }

    .card-detail h1 {
        font-size: 26px;
    }

    .card-detail p {
        text-align: center; /* Đảm bảo 2 dòng dưới được căn giữa */
    }

    .card-image img {
        transform: none;
    }

    .card-info {
        font-size: 100%;
    }
}

/* Responsive for screens smaller than 480px (Mobile devices) */
@media (max-width: 480px) {
    .card {
        width: 95%;
    }

    .card-detail p {
        font-size: 16px;
        text-align: center; /* Căn giữa văn bản trên các thiết bị di động */
    }

    .card-info {
        font-size: 90%;
    }
}
